@model Reado.Models.TblUser

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UsrId" />
            <div class="form-group">
                <label asp-for="UsrName" class="control-label"></label>
                <input asp-for="UsrName" class="form-control" />
                <span asp-validation-for="UsrName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsrEmail" class="control-label"></label>
                <input asp-for="UsrEmail" class="form-control" />
                <span asp-validation-for="UsrEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsrPassword" class="control-label"></label>
                <input asp-for="UsrPassword" class="form-control" />
                <span asp-validation-for="UsrPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
